
<div class="wrapper" [style.transform]="getTranslateValue()" #wrapper>
  <section *ngFor="let section of sections">
    <a class="arrow__btn left-arrow" (click)="previous()" *ngIf="this.activeSectionIndex > 0">‹</a>

    <div class="item" *ngFor="let item of section.items">
      <img [src]="item.imageUrl" alt="Image Description">

      <h1 class="heading">{{item.title}}</h1>
      <p class="genre">{{item.genre}}</p>
    </div>

    <a class="arrow__btn right-arrow" (click)="next()">›</a>
  </section>
</div>


