<nav>
    <ul class="options">
        <li class="loggo">
            <img src="../assets/fableflixloggo.png" alt="FableFlix" class="logo" style="width: 7rem;cursor: pointer;" (click)="navigateHome()">
        </li>
        <li>Pagina principală</li>
        <li>Categorii </li>
        <li>Noi și populare </li>
        <li>Lista mea </li>
    </ul>
</nav>
<main>
    <div class="listaMea">
        <app-carousel [sections]="sections"></app-carousel>
    </div>
        <app-carousel [sections]="newSections"></app-carousel>
    <div class="sugestii">

    </div>

    <div class="populare">

    </div>
</main>
